@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<TranShop.Models.Product.Product_ProductCategory>


<table class="table table-responsive-md table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Loại sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Giá bán</th>
            <th>Giá KM</th>
            <th>Số lượng</th>
            <th>Ngày Cập nhật</th>
            <th>Lượt xem</th>
            <th>
                <a asp-action="IndexProc" class="btn btn-danger btn-sm">
                    <i class="fas fa-times"></i>Thoát Thùng Rác
                </a>
            </th>
        </tr>
    </thead>
    <tbody id="tbData">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @item.Price?.ToString("#,### VNĐ")
                </td>
                <td>
                    @item.PromoPrice?.ToString("#,### VNĐ")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    <a asp-action="ReTrash" class="btn btn-primary btn-sm" asp-route-id="@item.Id">
                        <i class="fas fa-undo-alt"> Khôi Phục</i>
                    </a>|
                    <a asp-action="Delete" class="btn btn-google btn-sm" asp-route-id="@item.Id">
                        <i class="fas fa-trash"> Xóa</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Trash", new { page = page }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = false,
            ContainerDivClasses = new[] { "Navigation js-pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })

